<?xml version='1.0' encoding='utf-8'?>

<plugin id="com.hatenablog.abrakatabura.mruby" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Mruby</name>
  <js-module name="Mruby" src="www/Mruby.js">
    <clobbers target="mruby" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="Mruby">
        <param name="android-package" value="com.hatenablog.abrakatabura.mruby.Mruby" />
      </feature>
    </config-file>
    <source-file src="src/android/com/hatenablog/abrakatabura/mruby/Mruby.java" target-dir="src/com/hatenablog/abrakatabura/mruby/Mruby" />
    <source-file src="src/android/com/hatenablog/abrakatabura/mruby/MrubyJni.java" target-dir="src/com/hatenablog/abrakatabura/mruby/Mruby" />
    <source-file src="src/android/libs/armeabi/libmruby-jni.so" target-dir="libs/armeabi/" />
    <source-file src="src/android/jniLibs/armeabi/libgnustl_shared.so" target-dir="libs/armeabi/" />
    <source-file src="src/android/jniLibs/armeabi/libopencv_java3.so" target-dir="libs/armeabi/" />
    <!--<source-file src="src/android/jniLibs/armeabi/libnative_camera_r4.4.0.so" target-dir="libs/armeabi/" />
  -->
  </platform>
</plugin>
